@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 214 17% 8%;
        --foreground: 218 7% 78%;
        --muted: 214 12% 15%;
        --muted-foreground: 214 12% 65%;
        --popover: 214 17% 5%;
        --popover-foreground: 218 7% 88%;
        --card: 214 17% 6%;
        --card-foreground: 218 7% 83%;
        --border: 214 7% 13%;
        --input: 214 7% 16%;
        --primary: 176 56% 50%;
        --primary-foreground: 176 56% 10%;
        --secondary: 176 30% 25%;
        --secondary-foreground: 176 30% 85%;
        --accent: 214 17% 23%;
        --accent-foreground: 214 17% 83%;
        --destructive: 4 93% 52%;
        --destructive-foreground: 0 0% 100%;
        --ring: 176 56% 50%;
        --radius: 0.5rem;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.react-flow__attribution {
    display: none;
}
