<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/6c0a7d7ad0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="room.css">

    <title>PeerShare</title>

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>

    <script src="webtorrent.min.js"></script>

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="room.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">PeerShare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <span class="navbar-text">
                    <a href="http://www.googgle.com" target="_blank">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="room_info" class="mt-3 mb-3">
            <p>To start sharing files, share the link of this page to the other peer.</p>
        </div>
        <div class="main_div">
            <div id="connection_status_div">
                <h6 id="connection_status">Waiting for connection....</h6>
            </div>
            <div id="file_status_div">
                <p id="file_status"></p>
                <p id="transfer_speed"></p>
            </div>
            <div id="filename"></div>
            <label for="file" class="my_btn mb-2" id="file_send_btn">Select a file</label>
            <input type="file" name="file" id="file">
            <button id="send" class="my_btn mb-2" disabled>Send</button>
        </div>
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>