@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html * {
	font-family: 'Montserrat', sans-serif;
	color: ghostwhite;
}

body{
	background-color: #151a28;
}

.navbar{
	background-color: #151a28;
}

#room_info{
	width: 60%;
	margin: auto;
	text-align: center;
}

.main_div{
	width: 60%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.main_div #file{
	display: none;
}

#file_status_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#file_status_div p{
	word-break: break-all;
}

#filename p{
	word-break: break-all;
}

@media only screen and (max-width: 600px) {
	.main_div{
		width: 80%;
	}
}

.my_btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: #44475a 0 2px 4px,#44475a 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 42px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.my_btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.my_btn:hover {
  box-shadow: #44475a 0 2px 4px,#44475a 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.my_btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#send{
	color: #36395A	;
	background-color: #3be8b0;
	box-shadow: #44475a 0 2px 4px,#44475a 0 7px 13px -3px, #1FB264 0 -3px 0 inset;;
}

#send:disabled{
	color: #36395A;
	pointer-events: none;
	background-color: rgb(193, 193, 193);
	box-shadow: rgba(243, 243, 243, 0.4) 0 2px 4px,rgba(124, 111, 151, 0.3) 0 7px 13px -3px,#a8a7a7 0 -3px 0 inset;
}
